:root {
  --white: #fff;
  --black: #000;
  --background-color: #d5e1ef;
  --text-color: #9b9ea3;
  --text-color2: #283143;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: 'Outfit', sans-serif;
}
.main {
  height: 100vh;
}
.flex {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 320px;
  height: 100%;
  justify-content: center;
}
.cardContainer {
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}
.cardContainer img {
  width: 100%;
  border-radius: 10px;
}
.textContainer {
  width: 91%;
  margin: 0 auto;
}
.text {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}
.textBold {
  font-size: 18px;
  color: var(--text-color2);
  text-align: center;
}
